<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gradient-to-b from-gray-800 to-gray-900 text-white h-screen flex items-center justify-center">

<div class="max-w-md w-full">
  <div class="bg-gray-900 rounded p-8 shadow-md">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-semibold">Assessment Scheduler</h2>
    </div>
    <form th:action="@{/api/login}" method="post" accept-charset="UTF-8">
      <div class="mb-6">
        <label for="username" class="block text-gray-400 mb-2">Employee ID</label>
        <input autofocus autocomplete="off" placeholder="Employee ID"  type="text" id="username" name="username" required
               class="w-full px-3 py-2 border rounded-md bg-gray-700 focus:outline-none focus:border-blue-500 appearance-none text-white">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-400 mb-2">Password</label>
        <input placeholder="Password" type="password" id="password" name="password" required
               class="w-full px-3 py-2 border rounded-md bg-gray-700 focus:outline-none focus:border-blue-500 text-white">
      </div>
      <button type="submit"
              class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
        Login
      </button>

      <div th:if="${alertMessage != null}"
           class="mt-4 bg-red-500 border border-red-700 text-white px-4 py-2 rounded-md">
        <strong th:text="${alertMessage}"></strong>
      </div>
    </form>
  </div>
</div>

</body>

</html>
