<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Assessments</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gradient-to-b from-gray-800 to-gray-900 text-white flex flex-col min-h-screen">

<!-- Header -->
<header class="bg-gray-900 p-4 flex justify-between items-center">
  <h1 class="text-3xl font-semibold text-white">Assessment Scheduler</h1>
  <a href="http://localhost:9090/api/login" class="text-white hover:text-gray-300 px-4 py-2 rounded-md border border-white hover:border-gray-300 transition duration-300">Logout</a>
</header>

<!-- Main Content -->
<div class="flex-grow max-w-full w-full px-4 mt-8 flex justify-around">
  <div class="rounded p-8 shadow-md w-1/3">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-semibold text-white">Assessment Map</h2>
    </div>

    <!-- Improved design using cards -->
    <div th:each="category : ${assessmentMap.keySet()}" th:if="${assessmentMap.get(category).size() > 0}">
      <div class="mb-4 p-4 bg-gray-800 rounded-md flex flex-col items-center justify-center">
        <h3 class="text-lg font-semi-bold text-gray-300 mb-2" th:text="${category}"></h3>
        <ul class="list-disc pl-4">
          <div th:each="assessment : ${assessmentMap.get(category)}">
            <li class="text-white" th:text="${assessment}"></li>
          </div>
        </ul>
      </div>
    </div>



    <!-- Button to open the assessment scheduling form -->
    <button id="scheduleAssessmentBtn" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">
      Schedule Assessment
    </button>

    <!-- Assessment Scheduling Form (Initially hidden) -->
    <div id="assessmentForm" class="hidden mt-4">
      <form th:action="@{/api/employee/scheduleAssessment}" method="post" accept-charset="UTF-8">
        <label for="assessmentType" class="block text-gray-400 mb-2">Assessment Type</label>
        <select id="assessmentType" name="assessmentType" class="w-full px-3 py-2 border rounded-md bg-gray-700 focus:outline-none focus:border-blue-500 appearance-none text-white">
          <!-- Add options dynamically from assessmentMap keys -->
          <option th:each="type : ${assessmentMap.keySet()}" th:text="${type}"></option>
        </select>

        <label for="assessmentName" class="block text-gray-400 mt-2 mb-2">Assessment Name</label>
        <input type="text" id="assessmentName" name="assessmentName" placeholder="Assessment Name" class="w-full px-3 py-2 border rounded-md bg-gray-700 focus:outline-none focus:border-blue-500 text-white">

        <label for="assessmentDate" class="block text-gray-400 mt-2 mb-2">Assessment Date</label>
        <input type="date" id="assessmentDate" name="assessmentDate" class="w-full px-3 py-2 border rounded-md bg-gray-700 focus:outline-none focus:border-blue-500 text-white" min="{{#dates.format(#dates.add(#dates.createNow(), -1), 'yyyy-MM-dd')}}" required>
        <button type="submit" class="mt-4 bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">
          Schedule
        </button>
      </form>
    </div>

    <!-- Confirmation Message -->
    <div th:if="${assessmentType != null}" class="mt-4 text-green-500">
      <p>Assessment scheduled successfully:</p>
      <ul class="text-white">
        <li th:text="'Assessment Type: ' + ${assessmentType}"></li>
        <li th:text="'Assessment Name: ' + ${assessmentName}"></li>
        <li th:text="'Assessment Date: ' + ${assessmentDate}"></li>
      </ul>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w-full bg-gray-900 p-4 text-center mt-auto">
  <p class="text-sm text-gray-500">© 2023 Assessment Scheduler. All rights reserved.</p>
</footer>

<script>
  // Toggle visibility of the assessment scheduling form
  document.getElementById('scheduleAssessmentBtn').addEventListener('click', function () {
    document.getElementById('assessmentForm').classList.toggle('hidden');
  });
</script>

</body>

</html>
